/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400&family=Poppins:wght@400;500;600&display=swap');

/* Variables CSS */

:root {
    --header-height: 3rem;

    /* Change favorite color */
    --hue-color: 360;
    /* Purple 250 - Green 142 - Blue 230 - Pink 340 */

    /* HSL color mode */
    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 100%, 84%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #fff;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);
    
    /* Font & Typography */
    --body-font: 'Poppins', sans-serif;
    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .94rem;
    --small-font-size: .81rem;
    --smaller-font-size: .75rem;
    
    /* Font Weight */
    --font-medium: 500;
    --font-semi-bold: 600;
    
    /* Margin Bottom */
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;
    
    /* z-index */
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
    
    /* Font size for Large Devices */
    @media screen and (min-width: 968px) {
         :root {
            --big-font-size: 3rem;
            --h1-font-size: 2.25rem;
            --h2-font-size: 1.5rem;
            --h3-font-size: 1.25rem;
            --normal-font-size: 1rem;
            --small-font-size: .875rem;
            --smaller-font-size: .82rem;
        }
    }
}


/* Variables Dark Theme */
body.dark-theme{
    /* HSL color mode */
    --first-color-second: hsl(var(--hue-color), 30%, 8%);
    --title-color: hsl(var(--hue-color), 8%, 95%);
    --text-color: hsl(var(--hue-color), 8%, 75%);
    --input-color: hsl(var(--hue-color), 29%, 16%);
    --body-color: hsl(var(--hue-color), 28%, 12%);
    --container-color: hsl(var(--hue-color), 29%, 16%);
    --scroll-bar-color: hsl(var(--hue-color), 12%, 25%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 50%);
}


/* Button Dark/Light */
.nav__btns{
    display: flex;
    align-items: center;
}

.change-theme{
    font-size: 1.25rem;
    color: var(--title-color);
    margin-right: var(--mb-1);
    cursor: pointer;
}
.change-theme:hover{
    color: var(--first-color);
}



:root {
    --swiper-theme-color: var(--first-color);
}
span.swiper-pagination-bullet-active {
    background-color: var(--first-color);
}




/* Base */

::-moz-selection { /* Code for Firefox */
    color: white;
    background: var(--first-color);
}

::selection {
    color: white;
    background: var(--first-color);
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,h2,h3,h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}





/* Reusable CSS Classes */
.section{
    padding: 2rem 0 4rem;
}

.section__title{
    font-size: var(--h1-font-size);
}

.section__subtitle{
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3);
}

.section__title, .section__subtitle{
    text-align: center;
}



/* Layout */
.container{
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid{
    display: grid;
    gap: 1.5rem;
}

.header{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
    border-radius: 1rem 1rem 0 0;
    box-shadow: 0 0 25px 4px rgba(0, 0, 0, 0.644);
}

.swiper-pagination-bullet-active{
    color: var(--body-color);
}



/* Nav */
.nav{
    max-width: 968px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo, .nav__toggle{
    color: var(--title-color);
    font-weight: var(--font-medium);
}
.nav__logo:hover{
    color: var(--first-color);
}

.nav__toggle{
    font-size: 1.1rem;
    cursor: pointer;
}
.nav__toggle:hover{
    color: var(--first-color);
}

@media screen and (max-width: 767px){
    .nav__menu{
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.55);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: all 0.3s 0.02s ease-in-out;
    }
}

.nav__list{
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.nav__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: 600;
    transition: all 0.4s 0.02s ease-in-out;
    /* text-shadow: 1px 1px rgb(105, 105, 105); */
}
.nav__link:hover{
    color: var(--first-color);
}

.nav__icon{
    font-size: 1rem;
}

.nav__close{
    position: absolute;
    right: 1.3rem;
    bottom: .5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--first-color);
}
.nav__close:hover{
    color: var(--first-color-alt);
}




/* Show Menu */
.show-menu{
    bottom: 0;
}



/* Active Link */
.active-link{
    color: var(--first-color);
}



/* Change background header */
.scroll-header{
    box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
}




/*:// Landing Page */
.land__container{
    position:relative;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    /* background-image: url("../res/bg.png"); */
    background-image: url(../res/bg.png);
}

.greenText{
    color: rgb(20, 154, 72);
    text-shadow: 1px 1px 1px rgb(10, 59, 0);
    font-size: larger;
}

.blackText{
    font-size: larger;
    color: var(--title-color);
    text-shadow: 1px 1px 3px rgba(56, 65, 65, 0.751);
}

.texts{
    text-align: center;
}

.texts h1{
    color: black;
    font-size: 40px;
}
.texts h3{
    color: rgba(47, 79, 79, 0.644);
    font-size: 28px;
}
.texts p{
    margin: 10%;
    background-color: rgba(20, 20, 20, 0.226);
    backdrop-filter: blur(5px);   
    text-shadow: .5px 1px rgb(34, 55, 55);
    margin-top: 20px;
    border-radius: 8px;
    padding: 50px;
    text-align: center;
    color: white;
    /* max-width: 400px; */
    font-size: 16px;
    font-family: poppins;
}
.texts p a{
    margin: 0;
    margin-top: 20px;
    background-color: white;
    color: black;
    text-shadow: none;
}
.texts p span{
    text-shadow: none;
    font-size: 20px;
    color: black;
}
.texts p a:hover{
    /* color: white; */
    background-color: rgb(233, 225, 225);
}
.space_provider{
    padding-top: 100px;
}




/* HOME */
.home__container{
    gap: 1rem;
}

.home__content{
    grid-template-columns: .5fr 3fr;
    position: 3.5rem;
    align-items: center;
}

.home__social{
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}

.home__social-icon{
    font-size: 1.25rem;
    color: var(--first-color);
}

.home__social-icon:hover{
    color: var(--first-color-alt);
}

.home__blob{
    width: 200px;
    fill: var(--first-color);
}

.home__blob-img{
    width: 190px;
}

.home__data{
    grid-column: 1/3;
}

.home__title{
    font-size: var(--big-font-size);
}

.home__subtitle{
    font-size: var(--h4-font-size);
    color: var(--body-font);
    font-weight: var(--font-semi-bold);
    margin-bottom: var(--mb-0-75);
}
.type{
    color: var(--first-color);
    /* color: var(--first-color-alt); */
}

.home__description{
    margin-bottom: var(--mb-2);
    font-family: 'Nunito Sans', sans-serif;
}

.home__scroll{
    display: none;
}

.home__scroll-button{
    color: var(--first-color);
    /* transition: all .3s .06s ease-in-out; */
    animation: moveDown 2.7s ease-in-out 0s infinite;
}
@keyframes moveDown {
    0%{
        transform: translateY(.0rem);
    }
    50%{
        transform: translateY(.55rem);
    }
    100%{
        transform: translateY(0rem);
    }
}
.home__description:hover .home__scroll-button{
    transform: translateY(.35rem);
}

.home__scroll-mouse{
    font-size: 2rem;
}

.home__scroll-name{
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
    margin-right: var(--mb-0-25);
}

.home__scroll-arrow{
    font-size: 1.5rem;
}







/* Buttons */
.button{
    display: inline-block;
    background-color: var(--first-color);
    color: white;
    padding: 0.8rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    font-size: 1rem;
    transition: all 0.3s 0.05s ease-in-out;
}
.button:hover{
    background-color: var(--first-color-alt);
}

.button__icon{
    font-size: 1.25rem;
    margin-left: var(--mb-0-5);
    transition: .3s;
}

.button--white{
    background-color: white;
    color: var(--first-color);
}
.button--white:hover{
    background-color: #fff;
}

.button--flex{
    display: inline-flex;
    align-items: center;
}

.button--small{
    padding: .75rem 1rem;
}

.button--link{
    padding: 0;
    background-color: transparent;
    color: var(--first-color);
}
.button--link:hover{
    background-color: transparent;
    color: var(--first-color-alt);
}








/* About */
.about{
    background: url("../res/about_bg.png") no-repeat;
    background-size: cover;
}

.about__img{
    border-radius: .5rem;
    justify-self: center;
    align-self: center;
    transition: transform .5s; /* Animation */
}
.about__container img{
    margin-top: -20px;
    width: 280px;
    box-shadow: 12px 12px 20px rgba(51, 48, 48, 0.363);
}
.about__img:hover{
    transition: all .9s ease-in-out;
    transform: scale(1.04);
    box-shadow: 12px 12px 30px rgba(51, 48, 48, 0.363);
}
.about{
    padding-top: 110px;
}
.about__description{
    text-align: center;
    margin-bottom: var(--mb-2-5);
}

.about__info{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2-5);
}

.about__info-title{
    font-weight: var(--font-semi-bold);
    font-size: var(--h2-font-size);
}

.about__info-name{
    font-size: var(--small-font-size);
}

.about__info-title, .about__info-name{
    display: block;
    text-align: center;
}

.about__buttons{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}






/* Skills */

.skill__container{
    row-gap: 0;
}

.skills__header{
    display: flex;
    align-items: center;
    margin-bottom: var(--mb-2-5);
    cursor: pointer;
}

.skills__icon, .skills__arrow{
    font-size: 2rem;
    color: var(--first-color);
}

.skills__icon{
    margin-right: var(--mb-0-75);
}

.skills__title{
    font-size: var(--h3-font-size);
}

.skills__subtitle{
    font-size: var(--small-font-size);
}

.skills__arrow{
    margin-left: auto;
    transition: .4s;
}

.skills__list{
    row-gap: 1.5rem;
    padding-left: 2.7rem;
}

.skills__titles{
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--mb-0-5);
}

.skills__name{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.skills__bar, .skills__percentage{
    height: 7px;
    border-radius: .25rem;
}

.skills__bar{
    background-color: var(--first-color-lighter);
}

.skills__percentage{
    display: block;
    background-color: var(--first-color);
}

.skills__taxPlan{
    width: 50%;
}

.skills__fillReturn{
    width: 95%;
}

.skills__tds{
    width: 10%;
}

.skills__gstRegistration{
    width: 15%;
}

.skills__gstReturn{
    width: 70%;
}

.skills__bookeeping{
    width: 85%;
}

.skills__panApply{
    width: 20%;
}

.skills__dsc{
    width: 55%;
}

        /* for opened/closed Skills Content */
.skills__close .skills__list{
    height: 0;
    overflow: hidden;
}

.skills__open .skills__list{
    height: max-content;
    margin-bottom: var(--mb-2-5);
}

.skills__open .skills__arrow{
    transform: rotate(180deg);
}







/* Qualification */
.qualification__tabs{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2);
}

.qualification__button{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    cursor: pointer;
}
.qualification__button:hover{
    color: var(--first-color);
}

.qualification__icon{
    font-size: 1.8rem;
    margin-right: var(--mb-0-25);
}

.qualification__data{
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
    text-align: center;
}

.qualification__title{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.qualification__subtitle{
    display: inline-block;
    font-size: var(--small-font-size);
    color: var(--text-color);
    /* margin-bottom: var(--mb-0-25); */
    transition: all 0.5s;
    max-width: 250px;
}
.qualification__subtitle:hover{
    color: var(--title-color);
}

.qualification__calendar{
    font-size: var(--small-font-size);
    color: var(--text-color-light);
    margin-bottom: var(--mb-1);
}

.qualification__rounder{
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--first-color);
    border-radius: 50%;
}

.qualification__line{
    display: block;
    width: 1px;
    height: 100%;
    background-color: var(--first-color);
    transform: translate(6px, -7px);
    margin-top: -10px;
}

.qualification [data-content]{
    display: none;
}

.qualification__active[data-content]{
    display: block;
}

.qualification__button.qualification__active{
    color: var(--first-color);
}







/* Services */
.services__container{
    gap: 1.5rem;
}

.services__content{
    position: relative;
    background-color: var(--container-color);
    padding: 3.5rem .5rem 1.25rem 1.5rem;
    border-radius: .35rem;
    box-shadow: 0 5px 9px rgba(54, 52, 52, 0.071);
    transition: all .8s .5s ease-in-out;
}
.services__content:hover{
    box-shadow: 0 9px 26px #75717137;
}


.services__icon{
    display: block;
    font-size: 1.5rem;
    color: var(--first-color);
    margin-bottom: var(--mb-1);
}

.services__title{
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-1);
    font-weight: var(--font-medium);
}

.services__button{
    cursor: pointer;
    font-size: var(--small-font-size);
}
.services__button:hover .button__icon{
    transform: translate(.25rem);
}

.services__modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    z-index: var(--z-modal);
    opacity: 0;
    visibility: hidden;
    transition: .4s ease-in-out;
}

.services__modal-content{
    position: relative;
    background-color: var(--container-color);
    padding: 1.5rem;
    border-radius: .5rem;
}

.service__modal-services{
    row-gap: 1rem;
}

.services__modal-title{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1-5);
}

.services__modal-close{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    color: var(--first-color);
    cursor: pointer;
}

.service__modal-icons{
    color: var(--first-color);
    margin-right: var(--mb-0-25);
}






/* Active Modal */
.active-modal{
    opacity: 1;
    visibility: visible;
}









/* Portfolio */
.portfolio__container{
    overflow: initial;
    margin: 60px var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.portfolio__content{
    padding: 0 2.5rem;
}

.portfolio__img{
    width: 265px;
    border-radius: .5rem;
    justify-self: center;
}

.portfolio__title{
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-0-5);
}


.portfolio__description{
    margin-bottom: var(--mb-0-75);
}

.portfolio__button:hover .button__icon{
    transform: translateX(.25rem);
}


.swiper-button-prev::after, .swiper-button-next::after{
    content: '';
    display: none;
} 

.swiper-portfolio-icon{
    font-size: 2rem;
    color: var(--first-color);
}

.swiper-button-prev{
    left: -3rem;
}

.swiper-button-next{
    right: -3rem;
}

.swiper-pagination{
    position: relative;
    top: 50px;
    color: var(--first-color);
}

.swiper-container-horizontal > .swiper-pagination-bullet{
    bottom: -2.5rem;
}

.swiper-pagination-bullet{
    background-color: var(--first-color);

}

.swiper-pagination-bullet-active{
    background-color: var(--first-color);
}

.swiper-button-prev, .swiper-button-next, .swiper-pagination-bullet{
    outline: none;
}





/* Why us */
.whyus{
    margin-top: 15vh;
    display: flex;
    flex-direction: row;
}

.whyus h1{
    margin-bottom: 25px;
}

.whyus h3{
    font-weight: 400;
}
.whyus h3 span{
    font-weight: 600;
    margin-right: 5px;
}

.whyusImg{
    margin-left: 10%;
    width: 40%;    
    margin-bottom: 100px;
    padding-top: 50px;
}

.whyus a{
    justify-content: center;
    text-align: center;
    width: 200px;
    margin-top: 20px;
    font-size: 20px;
}







/* Project in Mind */
.project{
    text-align: center;
}

.project__data{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project__bg{
    background: url(../res/banner.png) no-repeat center center;
    padding: 2rem 0;
    border-radius: 10px;
    margin: 6% 3%;
}

.background_particle{
  max-width: 500px;
  height: 250px;
  margin: 0 auto;
  padding: 0;
}

.project__title{
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-0-75);
}

.project__description{
    margin-bottom: var(--mb-1-5);
}

.project__title, .project__description{
    color: #fff;
}

.project__button{
    width: 160px;
    margin: 0 auto;
}
.project__button:hover{
    background-color: rgb(240, 230, 230);
}

.project__img{
    width: 232px;
    justify-self: center;
    margin-bottom: var(--mb-0-75);
    border-radius: 50%;
}










/* Testimonial */
.testimonial{
    background: url("../res/testimonial_bg.png") no-repeat;
    background-size: cover;
}

.testimonial__container{
    margin: 5%;
    width: 85%;
}

.testimonial__data, .testimonial__header{
    display: flex;
}

.testimonial__content{
    border-radius: 10px;
    backdrop-filter: blur(5px);   
    padding: var(--mb-0-5);
    transition: all .3s .1s ease-in-out;
    margin-bottom: 50px;
}
.testimonial__content:hover{
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.255);
}

.testimonial__data{
    justify-content: space-between;
    margin-bottom: var(--mb-2);
}

.testimonial__img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: var(--mb-0-25);
}

.testimonial__name{
    font-size: var(--h4-font-size);
    font-weight: var(--font-medium);
    text-shadow: .3px .5px gray;
}

.testimonial__client{
    font-size: var(--small-font-size);
    color: var(--text-color-light);
    /* text-shadow: .3px .5px darkslategray; */
}

.testimonial__description{
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-1-5);
}

.testimonial__icon-star{
    color: var(--first-color);
    font-size: .85rem;
}

.swiper-container .swiper-pagination-testimonial{
    bottom: 0;
}

.testimonial-wrapper{
    margin: var(--mb-0-25);
    margin-bottom: var(--mb-2-5);
}









/* Contact Me */
.contact__container{
    row-gap: 3rem;
}

.contact__information a{
    display: flex;
    margin-bottom: var(--mb-2);
}

.contact__icon{
    font-size: 2rem;
    color: var(--first-color);
    margin-bottom: var(--mb-0-75);
    margin-right: var(--mb-0-5);
}
.contact__information:hover .contact__icon{
    color: var(--first-color-lighter);
    transition: all .5s ease-in-out;
}

.contact__title{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
}

.contact__subtitle{
    font-size: var(--small-font-size);
}
.contact__information a{
    color: var(--text-color-light);
}
.contact__information a:hover{
    color: var(--text-color);
}

.contact__content{
    background-color: var(--input-color);
    border-radius: .5rem;
    padding: .75rem 1rem .25rem;
}

.contact__label{
    font-size: var(--small-font-size);
    color: var(--title-color);
}

.contact__input{
    width: 100%;
    background-color: var(--input-color);
    color: var(--text-color);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    border: none;
    outline: none;
    padding: .25rem .5rem .5rem 0;
}
.contact__container{
    padding-bottom: 50px;
}

.form-button{
    border: none;
}












/* Footer */
.footer{
    padding-top: 2rem;
}

.footer__container{
    row-gap: 3.5rem;
}

.footer__bg{
    background-color: var(--first-color-second);
    padding: 2rem 0 0rem 0;
}

.footer__title{
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-0-25);
}

.footer__subtitle{
    font-size: var(--small-font-size);
}

.footer__links{
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    right: 30px;
}

.footer__link{
    color: rgb(235, 225, 225);
}
.footer__link:hover{
    color: var(--first-color-lighter);
}

.footer__social{
    font-size: 1.25rem;
    margin-right: var(--mb-0-75);
    transition: .5s;
}

.footer__social:hover{
    color: var(--first-color-lighter);
}

.footer__copy{
    font-size: var(--small-font-size);
    text-align: center;
    margin-top: var(--mb-3);
    color: rgb(226, 219, 219);
}
.footer__copy span{
    display: inline-block;
    color: white;
    padding-bottom: 5px;
}
.footer__copy a{
    color:white;
}

.footer__title, .footer__social{
    color: #fff;
}

.footer__subtitle{
    font-weight: 500;
    color: rgb(224, 209, 209);
}













/* Scroll Up */
.scrollup{
    position: fixed;
    background-color: var(--first-color);
    opacity: .7;
    bottom: 1rem;
    right: 1rem;
    border-radius: .4rem;
    padding: 0 .3rem;
    z-index: var(--z-tooltip);
    transition: .4s;
    color: white;
    font-size: 1.2rem;
    visibility: hidden;
}

.scrollup:hover{
    background-color: var(--first-color-alt);
}


/* Collect chat bot */
.chat-bot{
    display: inline-block;
    position: fixed;
    bottom: 4rem;
    right: 1rem;
    width: 60px;
    border-radius: 50%;
    transition: all .6s ease-in-out;
    z-index: 10;
}
.chat-bot:hover{
    box-shadow: 0 0 40px 0 rgb(231, 81, 81);
    transform: scale(1.1);
}
.request-loader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    background: rgba(144, 142, 142, 0.06);
    box-shadow: 0 0 10px 0 rgba(227, 72, 72, 0.753);
}
.request-loader span {
    position: relative;
    font-size: 72px;
    top: 5px;
    left: -5px;
}
.request-loader::after {
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -8px;
    left: -8px;
    right: 0;
    bottom: 0;
    content: '';
    height: 100%;
    width: 100%;
    border: 8px solid rgb(227, 71, 71);
    border-radius: 100%;
    animation-name: ripple;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
    z-index: -1;
}
.request-loader::before {
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -8px;
    left: -8px;
    right: 0;
    bottom: 0;
    content: '';
    height: 100%;
    width: 100%;
    border: 8px solid rgb(225, 69, 69);
    border-radius: 100%;
    animation-name: ripple;
    animation-duration: 3s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
    z-index: -1;
}
@keyframes ripple {
    from {
        opacity: 1;
        transform: scale3d(0.75, 0.75, 1);
   }
    to {
        opacity: 0;
        transform: scale3d(1.5, 1.5, 1);
   }
}


.chat-bot-img{
    width: 60px;
    border-radius: 50%;
    display: block;
}








/* show scroll */
.show-scroll{
    visibility: visible;
}






/* Scroll Bar */
::-webkit-scrollbar{
    width: 0.60rem;
    /* background-color: var(--scroll-bar-color); */
    background-color: rgb(70, 52, 52);
    /* border-radius: .5rem; */
}

::-webkit-scrollbar-thumb{
    background-color: var(--scroll-thumb-color);
    border-radius: .5rem;
    box-shadow: 0 0 34px white;
}
::-webkit-scrollbar-thumb:hover{
    background-color: var(--text-color-light);
}







/*  Particle JS  */
canvas {
    display: block;
    vertical-align: bottom;
}
/* ---- particles.js container ---- */
#particles-js {
    width: 100%;
    height: 800px;
    background-color: #b61924;
    background-image: url("");
    overflow: hidden;
    z-index: 20;
}
/* ---- stats.js ---- */
.count-particles {
    background: #000022;
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}
.js-count-particles {
    font-size: 1.1em;
}
#stats,
.count-particles {
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
}
#stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}
.count-particles {
    border-radius: 0 0 3px 3px;
}











/*:?  MediaQueries  */
@media screen and (min-width: 20px){
    .header{
        /* box-shadow: 10px 10px black; */
    }
    .texts{
        padding-top: 100px;    
    }
    .texts h1{
        text-shadow: 1px 1px 4px white;        
    }
    .texts h3{
        text-shadow: .4px .5px black;
    }
}


/* For small Devices */
@media screen and (max-width: 568px){
    .header{
        /* backdrop-filter: blur(50px); */
        /* background-color: var(--body-color-alt); */
    }
    .container{
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }
    .nav{
        /* box-shadow: 15px 15px 15px black; */
    }
    .nav__menu{
        padding: 2rem .25rem 4rem;
    }
    .nav__list{
        column-gap: 0;
    }
    .texts{
        padding-top: 100px;    
    }
    .texts h1{
        font-size: 35px;
    }
    .texts h3{
        font-size: 22px;
    }
    .texts p{
        font-size: 14px;
    }
    .home__content{
        grid-template-columns: .25fr 3fr;
    }
    .home__blob{
        width: 80%;
    }
    .skills__title{
        font-size: var(--normal-font-size);
    }
    .swiper-button-prev{
        left: -.5rem;
    }
    .swiper-button-next{
        right: -.5rem;
    }
    .qualification__data{
        gap: .5rem;
    }
    .services__container{
        grid-template-columns: max-content;
        justify-content: center;
    }
    .services__content{
        width: 60vw;
    }
    .whyus{
        font-size: 15px;
        margin: 10%;
        padding: 0;
        flex-direction: column;
    }
    .whyusImg{
        margin: 0;
        width: 200px;
    }
    .project__img{
        width: 60vw;
    }
    .testimonial__data, 
    .testimonial__header,
    .testimonial__rating{
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }   

}






/* For Medium Devices */
@media screen and (min-width: 568px) {
    .texts h1{
        padding-top: 40px;
    }
    .home__content{
        grid-template-columns: max-content 1fr 1fr;
    }
    .home__data{
        grid-column: initial;
    }
    .home__img{
        order: 1;
        justify-self: center;
    }
    
    .about__container,
    .portfolio__content,
    .project__container,
    .skills__container,
    .contact__container,
    .footer__container{
        grid-template-columns: repeat(2, 1fr);
    }
    
    .project__container{
        display: flex;
        justify-content: space-evenly;
    }

    .qualification__sections{
        display: grid;
        grid-template-columns: .6fr;
        justify-content: center;
    }

    .whyus{
        display: flex;
        flex-direction: column;
    }
    .whyusImg{
        margin: 0;
        margin-top: 30px;
        width: 60%;
    }

    .testimonial__rating{
        margin-left: var(--mb-0-5);
    }

    .footer__copy{
        margin-bottom: 15px;
    }
    .footer__bg{
        padding-bottom: 2px;
    }
}

@media screen and (max-width: 668px){
    .about{
        background: url("../res/about_bg90.png") no-repeat;
        background-size: cover;
    }
    .testimonial{
        background: url("../res/about_bg90.png") no-repeat;
        background-size: cover;
    }
}



@media screen and (min-width: 768px) {
    .container{
        margin-left: auto;
        margin-right: auto;
    }

    body{
        margin: 0;
    }
    .section{
        padding: 6rem 0 2rem;
    }

    .section__title{
        margin-top: 5rem;
    }
    .section__subtitle{
        margin-bottom: 2rem;
    }

    .header{
        top: 0;
        bottom: initial;
        border-radius: 0px;
        /* background-color: var(--body-color); */
        background-color: rgba(120, 120, 120, 0.329);
        /* opacity: 0.9; */
        backdrop-filter: blur(50px);
    }

    .header,
    .main,
    .footer__container{
        padding: 0 1rem;
    }

    .nav{
        /* height: calc(var(--header-height) + 1.5rem); */
        border-radius: 0;
        height: 3rem;
        column-gap: 1rem;
    }
    .hide-nav-icon{
        display: none;
    }

    .nav__list{
        display: flex;
        column-gap: 2rem;
    }

    .nav__link{
        display: flex;
        flex-direction: row;
    }
    .nav__icon{
        margin-right: 3px;
    }
    .nav__menu{
        margin-left: auto;
    }
    .change-theme{
        margin-left: 50px;
        /* margin: 0px; */
    }
    .home__container{
        row-gap: 5rem;
    }
    .home__content{
        padding-top: 5.5rem;
        column-gap: 2rem;
    }
    .home__blob{
        width: 270px;
    }
    .home__scroll{
        display: block;
    }
    .home__scroll-button{
        margin-left: 3rem;
    }
    
    .about__container{
        column-gap: 5rem;
    }
    .about__img{
        width: 350px;
    }
    .about__description{
        padding-top: 65px;
        text-align: center;
    }
    .about__info{
        justify-content: space-between;
    }
    .qualification__tabs{
        justify-content: center;
    }
    .qualification__button{
        margin: 0 var(--mb-3);
    }
    .qualification__sections{
        grid-template-columns: .5fr;
    }
    .services__container{
        margin-top: 40px;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        max-width: 900px;
    }
    .services__icon{
        font-size: 2rem;
    }
    .services__content{
        padding-left: 25%;
        padding-bottom: 15%;
    }
    .services__modal-content{
        width: 400px;
    }

    .portfolio__img{
        width: 320px;
    }
    .portfolio__content{
        align-items: center;
    }

    .whyus{
        flex-direction: column;
    }
    .whyusImg{
        margin-top: 5vh;
        width: 40%;
    }

    .project{
        text-align: center;
    }

    .footer__container{
        grid-template-columns: repeat(3, 1fr);
        box-shadow: none;
    }
    .footer__bg{
        padding: 3rem 0 1.2rem;
    }
    .footer__links{
        flex-direction: row;
        column-gap: 2rem;
    }
    .footer__socials{
        justify-self: flex-end;
    }
}







/* For Large Devices */
@media screen and (min-width: 1024px) {
    .header,
    .main,
    .footer__container{
        padding: 0;
        box-shadow: none;
    }

    .texts{
        max-width: 40%;
    }
    .texts p{
        margin-right: 10%;
    }


    .home__blob{
        width: 300px;
    }
    .home__social{
        transform: translateX(-6rem);
    }
    
    .portfolio__content{
        column-gap: 5rem;
    }
    .swiper-portfolio-icon{
        font-size: 3.5rem;
    }
    .swiper-portfolio-icon::before{
        margin-right: 1.9rem;
    }
    .swiper-portfolio-icon::after{
        margin-left: 4rem;
    }

    
    .whyus{
        flex-direction: row;
    }
    .whyusImg{
        margin-left: 6%;
        width: 30%;
    }

}




